<!--<div class="container center-align">
    <div class="row">
        
    </div>
</div>-->
<div class="container">
    <div class="card center-align">
        <table class="centered">
            <tbody>
                <tr *ngFor="let course of (courses$ | async)">
                    <td><img src="../../assets/images/angular.svg" alt="Angular Image" height="40px"></td>
                    <td>{{course.description}}</td>
                    <td><button class="btn">VIEW</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>