<div class="container">
    <div class="row">
        <h2>
            Firebase examples
        </h2>
        <a class="waves-effect waves-light btn red" (click)="listPush()"><i class=" material-icons left ">cloud</i>List Push</a>
        <a class="waves-effect waves-light btn green" (click)="listRemove()"><i class="material-icons left ">cloud</i>List Remove</a>
        <a class="waves-effect waves-light btn green" (click)="listUpdate()"><i class="material-icons left ">cloud</i>List Update</a>
        <hr>
        <a class="waves-effect waves-light btn purple" (click)="objectUpdate()"><i class="material-icons left ">cloud</i>Object Update</a>
        <a class="waves-effect waves-light btn brown" (click)="objectSet()"><i class="material-icons left ">cloud</i>Object Set</a>
        <a class="waves-effect waves-light btn brown" (click)="objectRemove()"><i class="material-icons left ">cloud</i>Object Remove</a>
    </div>
</div>