<div class="container">
    <div>
        <h5 class="center-align">{{(course$ | async)?.description}}</h5>
        <p class="center-align">

            <button class="btn waves-effect waves-light">Previous Page
                <i class="material-icons left">skip_previous</i>
            </button>
            <button class="btn waves-effect waves-light">Next Page
                <i class="material-icons right">skip_next</i>
            </button>

        </p>
    </div>
    <lessons-list [lessons]="lessons$ | async"></lessons-list>
</div>